In [3]:
from FixedWidthFile import *

series=read_copybook_file('series2.cob')
# To test with a bigger file just unzip big_data.txt.zip and change the name
# bellow from data.txt to big_data.txt
dataframe=read_fixed_width_file(series, 'data.txt', {'record_type':1})
dataframe.date=pd.to_datetime(dataframe.date, format='%Y%m%d')
dataframe.head()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
{'record_type': 1}
record_type 1

,record_type,date,stock_type,ticket_code,market_type,short_name,ticket_class,days_vest,currency,opening_price,...,deals,share_numbers,volume,exercise_price,correction_code,expiration_date,adjust_factor,exercise_price_points,isin_code,sequence_number
1,1,2023-01-02,2.0,NEOE3,10,NEOENERGIA,ON NM,nan,R$,15.40,...,1916,325000,4902151.0,0.0,0,99991231,1,0.0,BRNEOEACNOR3,117
2,1,2023-01-02,2.0,NEXP3,10,NEXPE,ON NM,nan,R$,0.31,...,255,197700,58980.0,0.0,0,99991231,1,0.0,BRNEXPACNOR0,100
3,1,2023-01-02,2.0,NGRD3,10,NEOGRID,ON NM,nan,R$,1.48,...,1011,589900,861509.0,0.0,0,99991231,1,0.0,BRNGRDACNOR3,102
4,1,2023-01-02,2.0,NINJ3,10,GETNINJAS,ON NM,nan,R$,2.70,...,421,76000,207926.0,0.0,0,99991231,1,0.0,BRNINJACNOR5,100
5,1,2023-01-02,2.0,NORD3,10,NORDON MET,ON,nan,R$,8.48,...,17,2700,23143.0,0.0,0,99991231,1,0.0,BRNORDACNOR7,135